@import '../../../theme/commons.scss';

.tasksetup {
  position: relative;
  width: calc(100% - 15px);
  padding-left: 15px;
  margin-top: 15px;

  .title {
    position: relative;
    font-size: 15px;
    font-family: 'Spartan-ExtraBold';
  }

  .add {
    position: relative;
    height: 25px;
    width: 55px;
    background: $app_purple;
    margin-left: 10px;

    & > p {
      font-size: 12px;
      font-family: 'Spartan-Bold';
    }
  }

  .actions {
    position: relative;
    margin-top: 10px;

    .removeselect,
    .selectall {
      position: relative;
      height: 25px;
      width: 80px;
      background: $app_purple;

      & > p {
        font-size: 12px;
        font-family: 'Spartan-Bold';
      }
    }

    .selectall {
      height: 25px;
      width: 95px;
      margin-left: 5px;
    }
  }

  .segmentation {
    position: relative;
    margin-top: 5px;

    .newsegment {
      position: relative;
      width: 100%;

      .createerr {
        position: relative;
        margin-top: 5px;
        width: 180px;
        margin-bottom: 5px;

        & > p {
          font-size: 11px;
          font-family: 'Spartan-Bold';
          color: $app_red;
        }
      }

      .newlabel {
        position: relative;

        .input {
          position: relative;
          height: 30px;
          width: 130px;
        }
      }

      .color {
        margin-top: 5px;

        .rgbtitle {
          position: relative;
          font-size: 12px;
          font-family: 'Spartan-Bold';
          margin-left: 10px;
        }

        .input {
          position: relative;
          height: 30px;
          width: 130px;
        }
      }

      .availColors {
        position: relative;
        margin-top: 5px;

        & > ul {
          position: relative;
          width: 130px;
          padding: 5px 5px;
          box-sizing: border-box;
          list-style-type: none;

          .selectedcolor {
            border: 2px solid $app_purple;
          }

          .unselectedcolor {
            border: 2px solid transparent;
          }

          & > li {
            position: relative;
            box-sizing: border-box;
            height: 20px;
            width: 25px;
            margin: 4px 4px;
            float: left;
            border-radius: 2px;
            overflow: hidden;
            cursor: pointer;

            & > span {
              position: absolute;
              height: 100%;
              width: 100%;
              box-sizing: border-box;
            }
          }

          & > li:nth-child(9) {
            & > span {
              border: 2px dashed black;
            }
          }
        }
      }
    }
  }

  .region {
    position: relative;
    margin-top: 5px;

    .newAttribute {
      position: relative;

      .attributeName {
        position: relative;
        height: 30px;
        width: 140px;
      }
    }
  }

  .classnamelist,
  .attregionlist,
  .segmlabellist {
    position: relative;
    margin-top: 15px;

    & > ul {
      position: relative;
      list-style-type: none;

      & > li {
        height: 20px;
        display: flex;
        align-items: center;
        margin: 2px 0px;

        .cb {
          height: 12px;
          width: 12px;
        }

        & > p {
          position: relative;
          font-size: 12px;
          width: 130px;
          padding-right: 5px;
          margin-left: 5px;
          text-align: left;
          padding-top: 5px;
        }
      }
    }
  }

  .segmlabellist {
    & > ul {
      & > li {
        .forcolor {
          position: relative;
          height: 13px;
          width: 13px;
          margin-left: 8px;
          margin-right: 3px;
          border-radius: 50%;
        }

        & > p {
          padding-top: 2px;
        }
      }
    }

    .nosegmentlabel {
      position: relative;
      margin-top: 5px;
      width: 200px;
      padding: 4px 0px;

      & > p {
        font-size: 12px;
        font-family: 'Spartan-Bold';
      }
    }
  }

  .attregionlist {
    .noregionatt {
      position: relative;
      margin-top: 5px;
      width: 200px;
      padding: 4px 0px;

      & > p {
        font-size: 12px;
        font-family: 'Spartan-Bold';
      }
    }
  }

  .classnamelist {
    .noclassification {
      position: relative;
      margin-top: 5px;
      width: 200px;
      padding: 4px 0px;

      & > p {
        font-size: 12px;
        font-family: 'Spartan-Bold';
      }
    }
  }

  .classification {
    position: relative;
    margin-top: 5px;

    .newclass {
      position: relative;

      .newclassinp {
        position: relative;
        height: 30px;
        width: 140px;
      }
    }
  }
}
