@import '../../theme/commons.scss';

.textinputerr {
  border: 2px solid $app_red;
}

.textinputnoerr {
  border: 2px solid transparent;
}

.textinput {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background: $app_lightgray;

  & > input[type='text'] {
    position: relative;
    height: 100%;
    width: calc(100% - 22px);
    padding: 0px 11px;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    color: $app_black;
    font-size: 13px;
    font-family: 'Spartan-SemiBold';
  }
}
