@import '../../../theme/commons.scss';

.removefile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  & > div:nth-child(1) {
    position: relative;
    height: 200px;
    width: 450px;
    background: white;
    border-radius: 6px;
    -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
  }
}
